{{yield}}

{{#link-to 'event' event.id}}
  <div class="event">
    <div>Name: {{event.name}}</div>
    <div>Location: {{event.location}}</div>
    <div>Time: {{event.time}}</div>
  </div>
{{/link-to}}
